    <aside class="sidebar">
      <img id="logo" src="https://res.cloudinary.com/dozcrwtud/image/upload/v1743746754/White_Minimalist_Online_Fashion_Shop_Bag_Logo_1_od2d4q.png">
      <ul>
        <li class="<%= currentPath == "/admin/dashboard" ? "active" : ""%>"><a href="/admin/dashboard">Main Dashboard</a></li>
        <li class="<%= currentPath == "/admin/vendors" ? "active" : ""%>"><a href="/admin/vendors">Vendor Details</a></li>
        <li class="<%= currentPath == "/admin/sales" ? "active" : ""%>"><a href="/admin/sales">Sales</a></li>
        <li class="<%= currentPath == "/admin/orders" ? "active" : ""%>"><a href="/admin/orders">Order Details</a></li>
        <li class="<%= currentPath == "/admin/pending-verification" ? "active" : ""%>"><a href="/admin/pending-verification">Pending Verification</a></li>
        <li class="<%= currentPath == "/admin/offers" ? "active" : ""%>"><a href="/admin/offers">Offers</a></li>
        <li class="<%= currentPath == "/admin/users" ? "active" : ""%>"><a href="/admin/users">Users</a></li>
        <li class="<%= currentPath == "/admin/available-products" ? "active" : ""%>"><a href="/admin/available-products">Available Products</a></li>
        <li class="<%= currentPath == "/admin/contacttovendor" ? "active" : ""%>"><a href="/admin/contacttovendor">Contact To Vendor</a></li>
        <li class="<%= currentPath == "/admin/notifications" ? "active" : ""%>"><a href="/admin/notifications">Notifications</a></li>
        <li class="<%= currentPath == "/admin/values" ? "active" : ""%>"><a href="/admin/values">Manage Values</a></li>
        <li class="<%= currentPath == "/admin/shipment" ? "active" : ""%>"><a href="/admin/shipment">Shipment Details</a></li>
        <li class="<%= currentPath == "/admin/taxmanage" ? "active" : ""%>"><a href="/admin/taxmanage">Manage Taxes</a></li>
        <li class="<%= currentPath == "/admin/revenue" ? "active" : ""%>"><a href="/admin/revenue">Admin Revenue</a></li>
      </ul>
    </aside>